/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*element selector for the body styling*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}



/*class selector*/
.navbar{
    background-color: #1e1e1e;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 100;
}
/*logo --class selector*/
.logo img{
    height: 40px;
    border-radius: 10px;
}
/*navigation links*/
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links li a:hover {
    background-color: #ef7810;
    border-radius: 4px;
}

h1{
    color: aquamarine;
}
}
.profile-pic{
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    margin-left: 10px;
    
}